sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.ie .stl_06 {
	height: 70.16666em;
}
@font-face {
	font-family:"ICNCNV+HYQiHeiKW-EES";
	src:url("c09422c8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #3D85C6;
}
.stl_08 {
	line-height: 1.32em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 0.829167em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #3D85C6;
}
.stl_11 {
	letter-spacing: 0.0027em;
}

.ie .stl_11 {
	letter-spacing: 0.0359px;
}
.stl_12 {
	letter-spacing: 0.0058em;
}

.ie .stl_12 {
	letter-spacing: 0.0771px;
}
.stl_13 {
	font-size: 0.829167em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #000008;
}
.stl_14 {
	letter-spacing: 0.0034em;
}

.ie .stl_14 {
	letter-spacing: 0.0446px;
}
.stl_15 {
	letter-spacing: 0.0028em;
}

.ie .stl_15 {
	letter-spacing: 0.0369px;
}
.stl_16 {
	letter-spacing: 0.004em;
}

.ie .stl_16 {
	letter-spacing: 0.0526px;
}
.stl_17 {
	font-size: 0.829167em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #0000FF;
}
.stl_18 {
	letter-spacing: 0.0026em;
}

.ie .stl_18 {
	letter-spacing: 0.0342px;
}
.stl_19 {
	letter-spacing: 0.0054em;
}

.ie .stl_19 {
	letter-spacing: 0.0711px;
}
.stl_20 {
	font-size: 1em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #2E74B5;
}
@font-face {
	font-family:"QSVEWE+STSongti-SC-Regular";
	src:url("64c0ec37-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.75em;
	font-family: "QSVEWE+STSongti-SC-Regular", "Times New Roman";
	color: #5B9BD5;
}
.stl_22 {
	line-height: 1.4em;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #262626;
}
.stl_24 {
	letter-spacing: -0.0002em;
}

.ie .stl_24 {
	letter-spacing: -0.0028px;
}
.stl_25 {
	letter-spacing: -0.0003em;
}

.ie .stl_25 {
	letter-spacing: -0.0042px;
}
.stl_26 {
	letter-spacing: -0.0001em;
}

.ie .stl_26 {
	letter-spacing: -0.0006px;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #000008;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #3F3F3F;
}
.stl_29 {
	font-size: 0.708333em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #000008;
}
.stl_30 {
	letter-spacing: 0.0023em;
}

.ie .stl_30 {
	letter-spacing: 0.0261px;
}
.stl_31 {
	letter-spacing: -0.001em;
}

.ie .stl_31 {
	letter-spacing: -0.0126px;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #444444;
}
.stl_33 {
	letter-spacing: 0.0005em;
}

.ie .stl_33 {
	letter-spacing: 0.0065px;
}
.stl_34 {
	letter-spacing: -0.0004em;
}

.ie .stl_34 {
	letter-spacing: -0.0045px;
}
.stl_35 {
	letter-spacing: -0.0005em;
}

.ie .stl_35 {
	letter-spacing: -0.0059px;
}
.stl_36 {
	letter-spacing: 0.0014em;
}

.ie .stl_36 {
	letter-spacing: 0.0167px;
}
.stl_37 {
	letter-spacing: 0.0001em;
}

.ie .stl_37 {
	letter-spacing: 0.0012px;
}
.stl_38 {
	letter-spacing: 0.0003em;
}

.ie .stl_38 {
	letter-spacing: 0.0032px;
}
.stl_39 {
	letter-spacing: -0.0007em;
}

.ie .stl_39 {
	letter-spacing: -0.0082px;
}
.stl_40 {
	letter-spacing: -0.0008em;
}

.ie .stl_40 {
	letter-spacing: -0.0098px;
}
.stl_41 {
	letter-spacing: -0.0006em;
}

.ie .stl_41 {
	letter-spacing: -0.0069px;
}
.stl_42 {
	letter-spacing: 0.001em;
}

.ie .stl_42 {
	letter-spacing: 0.0112px;
}
.stl_43 {
	font-size: 0.829167em;
	font-family: "QSVEWE+STSongti-SC-Regular", "Times New Roman";
	color: #5B9BD5;
}
.stl_44 {
	letter-spacing: 0.0033em;
}

.ie .stl_44 {
	letter-spacing: 0.04px;
}
.stl_45 {
	letter-spacing: 0.0015em;
}

.ie .stl_45 {
	letter-spacing: 0.0182px;
}
.stl_46 {
	letter-spacing: 0.0092em;
}

.ie .stl_46 {
	letter-spacing: 0.11px;
}
.stl_47 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #7F7F7F;
}
.stl_48 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #0563C1;
}
.stl_49 {
	letter-spacing: 0.0233em;
}

.ie .stl_49 {
	letter-spacing: 0.28px;
}
.stl_50 {
	letter-spacing: 0.0161em;
}

.ie .stl_50 {
	letter-spacing: 0.1934px;
}
.stl_51 {
	font-size: 0.708333em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #3F3F3F;
}
.stl_52 {
	letter-spacing: 0.0011em;
}

.ie .stl_52 {
	letter-spacing: 0.0127px;
}
.stl_53 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #0000FF;
}
.stl_54 {
	font-size: 0.829167em;
	font-family: "QSVEWE+STSongti-SC-Regular", "Times New Roman";
	color: #3F3F3F;
}
.stl_55 {
	font-size: 0.75em;
	font-family: "ICNCNV+HYQiHeiKW-EES", "Times New Roman";
	color: #252525;
}
